/SERVICE_ACCOUNT_CREDENTIALS.json
/userslist.json
/.aider.input.history
/.aider.chat.history.md
/.vscode
/venv/pyvenv.cfg
/venv/Scripts
/discord.log
/.env
/__pycache__
/errors.log
/stuffandthings.txt
/testingbranch.py
tester.py
scrapers/amLeague_scraper.py
scrapers/BeGamer_scraper.py
scrapers/ChatSL_scraper.py
scrapers/consolidatedscraper.py
scrapers/cranky_scraper.py
scrapers/CrankyDucklings_scraper.py
scrapers/CSO_scraper.py
scrapers/designedkiller_scraper.py
scrapers/ESL_Scraper.py
scrapers/FencomCup_scraper.py
scrapers/MMC_scraper.py
/scrapers/designedkiller_scraper.py
/scrapers/ESL_Scraper.py
/.vscode/settings.json
/.vscode/launch.json
/tester.py
/LMSL_scraper.py
/LMML_scraper.py